/*------------Global------------*/
:root {
  --dark-blue: #363f5f;
  --green-color: #49aa26;
  --light-green: #3dd705;
  --background-white: #f0f2f5;
  --red: #e92929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /*15 px*/
}

body {
  background: var(--background-white);
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: 400;
}

/*------------Links and buttons------------*/
a {
  text-decoration: none;
  color: var(--green-color);
}

a:hover {
  color: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

/*Buttons model*/
button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  background: var(--green-color);
  cursor: pointer;

  font-size: 1rem;
}

button:hover {
  background: var(--light-green);
}

.button.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  color: var(--red);
  opacity: 0.7;
}

.button.cancel:hover {
  opacity: 1;
}

/*Tirar elementos da tela sem afetar os leitores visuais*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/*------------Header------------*/
header {
  background: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

/*------------Balance------------*/
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}

/*------------Cards------------*/
.card {
  background: #fff;
  padding: 1.5rem 2rem;

  border-radius: 0.25rem;
  margin-bottom: 2rem;

  color: var(--dark-blue);
}

.card h3 {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background: #49aa26;
  color: #fff;
}

/*-----------Transactions------------*/
#transaction {
  display: block;
  overflow-x: auto;
}

/*-----------Table------------*/
#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table th {
  background: #fff;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: #fff;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

/*------------Modal------------*/
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--background-white);
  padding: 2.4rem;
  border-radius: 0.25rem;
  width: 90%;
  max-width: 500px;
}

#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

form input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.6rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.5;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

/*------------Footer------------*/
.footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.7;
}

/*------------Responsive------------*/
@media (min-width: 800px) {
  html {
    font-size: 87.5%; /*14px*/
  }

  #balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
